{
  "openapi": "3.0.1",
  "info": {
    "title": "MappedSwap API Version 0.1",
    "description": "MappedSwap API specification version 0.1",
    "termsOfService": "http://swagger.io/terms/",
    "version": "0.1.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },

  "servers": [
    {
      "url": "https://decatsdevagentapi.mappedswap.io",
      "description": "Agent server (dev)"
    },
    {
      "url": "https://decatsdevdappapi.mappedswap.io",
      "description": "DApp server (dev)"
    },
    {
      "url": "http://13.229.211.216:8096",
      "description": "CronJob server (dev)"
    },
    {
      "url": "https://testnetmappedswapapi.mappedswap.io",
      "description": "Agent server (Testnet)"
    },
    {
      "url": "https://testnetmappedswapdappapi.mappedswap.io",
      "description": "DApp server (Testnet)"
    },
    {
      "url": "http://54.169.228.231:8096",
      "description": "CronJob server (Testnet)"
    },
    {
      "url": "Nope",
      "description": "Online Data Fetcher"
    }
  ],
  "tags": [
    {
      "name": "Agent",
      "description": "Agent related service"
    },
    {
      "name": "dApp",
      "description": "DApp related service"
    },
    {
      "name": "cronJob",
      "description": "Cron job related service"
    }
  ],
  "paths": {
    "/customers/login": {
      "post": {
        "tags": ["dApp"],
        "summary": "Login for dApp(map funding code and if agent type is MST create agent if funding code is exist), the parameters is from web3 signature",
        "operationId": "loginByCustomerId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "signature": {
                        "type": "string",
                        "description": "signature from key"
                      },
                      "message": {
                        "type": "string",
                        "description": "message signed"
                      },
                      "address": {
                        "type": "string",
                        "description": "wallet address"
                      }
                    }
                  }
                ],
                "example": {
                  "signature": "0x6b394596918c5a94800c8cfe0cd12070b1a5c79e0cf523337a3b9fd69e7b81c9062cbde60ff66eb631ce1b7edbbfdb393138cf6259520a037a8120f43701b0ab1c",
                  "message": "deviceId=&timestamp=1630311347619&walletAddress=4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "fundingCode": "eyJleHAiOjE2MzU0OTA0MjN9.xkSwdiaCPhLI-bjZnixrQfvlVPputWam4doZzmKCrAM"
                },
                "required": ["signature", "message", "address"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjEiLCJuYW1lIjoiY2ZfdGVzdDAwMUBnbWFpbC5jb20iLCJ0eXBlIjoiQ3VzdG9tZXIiLCJzdGF0dXMiOjIwLCJhZGRyZXNzIjoiMHg0ZGZiNmQ2NzkwMDU0ZjNlYjY4MzI0YmMyMzBlMzEwNDEzN2NhOGRiIiwiY29udHJhY3RTdGF0dXMiOjAsImlhdCI6MTYzNDU0NTYzMCwiZXhwIjoxNjM1MTUwNDMwfQ.7fTeaP_N14IGUqVjfkWCQuF1s3WFneksC4GQtpPPVR8",
                          "description": "JWT token"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/loadFundingCode": {
      "post": {
        "tags": ["dApp"],
        "summary": "Login for dApp, the parameters is from web3 signature",
        "operationId": "loadFundingCode",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "fundingCode": {
                        "type": "string",
                        "description": "funding code"
                      }
                    }
                  }
                ],
                "example": {
                  "fundingCode": "eyJleHAiOjE2MzU0OTA0MjN9.xkSwdiaCPhLI-bjZnixrQfvlVPputWam4doZzmKCrAM"
                },
                "required": ["fundingCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Funding Code used successfully."
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prices": {
      "get": {
        "tags": ["dApp"],
        "summary": "get all prices from memory loader",
        "operationId": "prices.getAll",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "description": "id"
                              },
                              "pairName": {
                                "type": "string",
                                "example": "ETHM/USDM",
                                "description": "Pair name"
                              },
                              "reserve0": {
                                "type": "string",
                                "example": "294801602105459545408106",
                                "description": "Reserver of 1st pair"
                              },
                              "reserve1": {
                                "type": "string",
                                "example": "1133921459526750",
                                "description": "Reserver of 2nd pair"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2021-10-18T08:34:02.108Z",
                                "description": "Created date"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/priceHistories": {
      "get": {
        "tags": ["dApp"],
        "summary": "get all 1 minute data from table price_histories",
        "operationId": "priceHistoriesController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "pairName",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "ETHM/USDM or BTCM/USDM",
            "example": "BTCM"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": 1,
                                "description": "id"
                              },
                              "pairName": {
                                "type": "string",
                                "example": "ETHM/USDM",
                                "description": "Pair name"
                              },
                              "reserve0": {
                                "type": "string",
                                "example": "294801602105459545408106",
                                "description": "Reserver of 1st pair"
                              },
                              "reserve1": {
                                "type": "string",
                                "example": "1133921459526750",
                                "description": "Reserver of 2nd pair"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2021-10-18T08:34:02.108Z",
                                "description": "Created date"
                              },
                              "open": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "Open"
                              },
                              "close": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "Close"
                              },
                              "low": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "Low"
                              },
                              "high": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "High"
                              },
                              "volume": {
                                "type": "string",
                                "example": "0",
                                "description": "Created date"
                              },
                              "interval": {
                                "type": "string",
                                "example": "60",
                                "description": "Time interval, 60 means 60s"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/priceHistories/getKLineData": {
      "get": {
        "tags": ["dApp"],
        "summary": "get all data from table price_histories",
        "operationId": "priceHistoriesController.getKLineData",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "timeInterval",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "60 | 300 | 1800 | 3600 | 86400, 1 min = 60",
            "example": 60
          },
          {
            "in": "query",
            "name": "pairName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ETHM/USDM or BTCM/USDM",
            "example": "ETHM/USDM"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "description": "id"
                              },
                              "pairName": {
                                "type": "string",
                                "example": "ETHM/USDM",
                                "description": "Pair name"
                              },
                              "reserve0": {
                                "type": "string",
                                "example": "294801602105459545408106",
                                "description": "Reserver of 1st pair"
                              },
                              "reserve1": {
                                "type": "string",
                                "example": "1133921459526750",
                                "description": "Reserver of 2nd pair"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2021-10-18T08:34:02.108Z",
                                "description": "Created date"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/priceHistories/getKLineDataVolumeSum": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get sum data of volume from t_decats_price_histories table",
        "operationId": "priceHistoriesController.getKLineDataVolumeSum",
        "parameters": [
          {
            "in": "query",
            "name": "pairName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ETHM/USDM or BTCM/USDM",
            "example": "ETHM/USDM"
          },
          {
            "in": "query",
            "name": "duration",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "8 | 16 | 24, Duration of the volume sum",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "dateFrom related to the sum you want to start calculating, if dateFrom=2021-10-23, duration=8, then it will get sum of volume of the (now to last 8h) and (last 16h to last 8h) on 2021-10-23",
            "example": "2021-10-23"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {},
                          "example": [
                            {
                              "sumOfVolume": "19084932455803526",
                              "dateFrom": "2021-10-27T09:07:47.141Z",
                              "dateTo": "2021-10-28T09:07:47.141Z",
                              "duration": "24 hours",
                              "pairName": "BTCM/USDM"
                            },
                            {
                              "sumOfVolume": "43079395143031",
                              "dateFrom": "2021-10-26T09:07:47.203Z",
                              "dateTo": "2021-10-27T09:07:47.203Z",
                              "duration": "24 hours",
                              "pairName": "BTCM/USDM"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/interestHistories": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data of t_decats_interest_histories based on customer' s address (address is passed through jwt)",
        "operationId": "InterestHistoryController.getAll",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Customer wallet address",
            "example": "0x4dfb6d6790054f3eb68324bc230e2345242ca8db"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 7,
                            "rows": [
                              {
                                "id": "2339",
                                "address": "0x028fb0e5160bc19639450827c673445105d99071",
                                "customerId": "43",
                                "agentId": "3",
                                "fromTime": "2021-10-26T09:00:00.000Z",
                                "toTime": "2021-10-26T09:15:00.000Z",
                                "token": "ETHM",
                                "amount": "-500000000000000000",
                                "rate": "10000",
                                "interest": "5000000000000",
                                "totalInterest": "10000000000000",
                                "createdDate": "2021-10-26T09:15:00.220Z",
                                "lastModifiedDate": "2021-10-26T09:15:00.220Z",
                                "status": 1
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data of t_decats_price_transactions based on customer' s address",
        "operationId": "priceHistoriesController.t_decats_price_transactions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Customer wallet address",
            "example": "0x4dfb6d6790054f3eb68324bc230e2345242ca8db"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 6,
                            "rows": [
                              {
                                "id": "33834",
                                "address": "0x028fb0e5160bc19639450827c673445105d99071",
                                "customerId": "43",
                                "agentId": "3",
                                "sellToken": "ETHM",
                                "sellAmount": "11631694000000000000",
                                "buyToken": "USDM",
                                "buyAmount": "48913713916",
                                "txHash": "0x2e4a0614402d0b9bf76532c64751b01313a8247176fc0bd228b2e396b5ee298a",
                                "txTime": "2021-10-26T09:18:00.000Z",
                                "txStatus": 2,
                                "gasFee": "0",
                                "blockHeight": "8672050",
                                "blockHash": "0x7eb3b27b4eba415824eaf4d41f850c127139d630d5e91e18456b4955098b690e",
                                "stopout": false,
                                "createdDate": "2021-10-26T09:18:00.366Z",
                                "lastModifiedDate": "2021-10-26T09:18:00.366Z"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/balancesHistories": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data from t_decats_balance_histories table based on address (address is passed through jwt)",
        "operationId": "BalanceHistoryController.getAll",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "USDM | ETHM | BTCM, token name",
            "example": "USDM"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Withdraw = 10, Deposit = 20, Exchange = 30, Stopout = 40,",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date from",
            "example": "2021-12-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date to",
            "example": "2021-12-30"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 42745,
                            "rows": [
                              {
                                "id": "44075",
                                "address": "0xfbefb1134c919f02fada77156cab39d0028eb6d0",
                                "customerId": "0",
                                "agentId": "1",
                                "token": "ETHM",
                                "type": 2,
                                "amount": "886841183352836311741",
                                "balance": "991448505215343023572508249",
                                "updateTime": "2021-10-28T10:01:02.000Z",
                                "txHash": "0x8e1bc985a857a4e18db8591f049bc874de3116991a3753d0af70b3f4c68a6e32",
                                "createdDate": "2021-10-28T10:01:02.191Z",
                                "lastModifiedDate": "2021-10-28T10:01:02.191Z",
                                "status": 0
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/price/getPairInfo (XXXXXX)": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data from t_decats_balance_histories table based on address (address is passed through jwt)",
        "operationId": "BalanceHistoryController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "USDM | ETHM | BTCM, token name",
            "example": "USDM"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Withdraw = 10, Deposit = 20, Exchange = 30, Stopout = 40,",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date from",
            "example": "2021-12-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date to",
            "example": "2021-12-30"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "pairName": "USDM/BTCM",
                            "reserve0": "431566464424857",
                            "reserve1": "263076698033680799",
                            "reserve0DecimalPlace": 8,
                            "reserve1DecimalPlace": 6,
                            "price": 3657.513542683809
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prices/getAllBlockPrice (XXXXXX)": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data from t_decats_balance_histories table based on address (address is passed through jwt)",
        "operationId": "BalanceHistoryController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "USDM | ETHM | BTCM, token name",
            "example": "USDM"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Withdraw = 10, Deposit = 20, Exchange = 30, Stopout = 40,",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date from",
            "example": "2021-12-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date to",
            "example": "2021-12-30"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 450,
                            "rows": [
                              {
                                "id": 169812,
                                "pairName": "BTCM/USDM",
                                "reserve0": "2492419120344",
                                "reserve1": "1597556621848179",
                                "createdDate": "2021-10-20T09:44:59.174Z",
                                "reserve0DecimalPlace": 8,
                                "reserve1DecimalPlace": 6
                              },
                              {
                                "id": 169810,
                                "pairName": "BTCM/USDM",
                                "reserve0": "2492419120344",
                                "reserve1": "1597556621848179",
                                "createdDate": "2021-10-20T09:44:56.185Z",
                                "reserve0DecimalPlace": 8,
                                "reserve1DecimalPlace": 6
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commisionJobs/getExpectedCommission": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get lastest commision from agent daily reports, use in dApp' s [Referral Program] tab",
        "operationId": "dApp.CommisionJobController.getExpectedCommission",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "weeklyVolume": "0",
                            "data": [
                              {
                                "token": "USDM",
                                "income": "0",
                                "createdDate": "2021-11-09"
                              },
                              {
                                "token": "BTCM",
                                "income": "0",
                                "createdDate": "2021-11-09"
                              },
                              {
                                "token": "ETHM",
                                "income": "34323",
                                "createdDate": "2021-11-09"
                              },
                              {
                                "token": "MST",
                                "income": "232332",
                                "createdDate": "2021-11-09"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commisionJobs/getLedgers": {
      "get": {
        "tags": ["dApp"],
        "summary": " Get commision jobs and distributions list by agent id, use in dApp' s [My Referral Rewards] page",
        "operationId": "CommisionJobController.getLedgers",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Created=0 | NotAcquired=10 | Acquired=20,  commision distribution status",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateMonth",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Month, 1 = Jan. Either year+month, year, or no year and month filter",
            "example": 1
          },
          {
            "in": "query",
            "name": "dateYear",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Year. Either year+month, year, or no year and month filter",
            "example": 1994
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 450,
                            "rows": [
                              {
                                "id": "95",
                                "dateFrom": "2021-11-02",
                                "dateTo": "2021-11-08",
                                "status": 0,
                                "roundId": "394",
                                "ledgers": [
                                  {
                                    "token": "BTCM",
                                    "distCommision": "0"
                                  },
                                  {
                                    "token": "ETHM",
                                    "distCommision": "0"
                                  },
                                  {
                                    "token": "MST",
                                    "distCommision": "0"
                                  },
                                  {
                                    "token": "USDM",
                                    "distCommision": "0"
                                  }
                                ],
                                "distributions": null
                              },
                              {
                                "id": "94",
                                "dateFrom": "2021-10-26",
                                "dateTo": "2021-11-01",
                                "status": 0,
                                "roundId": "393",
                                "ledgers": [
                                  {
                                    "token": "BTCM",
                                    "distCommision": "0"
                                  },
                                  {
                                    "token": "ETHM",
                                    "distCommision": "0"
                                  },
                                  {
                                    "token": "MST",
                                    "distCommision": "0"
                                  },
                                  {
                                    "token": "USDM",
                                    "distCommision": "0"
                                  }
                                ],
                                "distributions": null
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commisionJobs/getLedgersDetails": {
      "get": {
        "tags": ["dApp"],
        "summary": " Get reports by agent id, use in dApp' s [My Referral Rewards] page when click Detail button",
        "operationId": "CommisionJobController.getReportsByAgentId",
        "parameters": [
          {
            "in": "query",
            "name": "createdDate",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Created date of the reports",
            "example": "2021-11-02"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": [
                            {
                              "id": "47696",
                              "agentId": "4",
                              "token": "BTCM",
                              "createdDate": "2021-11-07",
                              "feePercentage": "30",
                              "interestPercentage": "30",
                              "turnOver": "0",
                              "allSubAgentFeeIncome": "0",
                              "allSubAgentInterestIncome": "0",
                              "allChildAgentFeeIncome": "0",
                              "allChildAgentInterestIncome": "0",
                              "netAgentFeeIncome": "0",
                              "netAgentInterestIncome": "0",
                              "distMTokenRate": "100",
                              "distMSTTokenRate": "0",
                              "distMSTToken": "0",
                              "distMToken": "0"
                            },
                            {
                              "id": "47695",
                              "agentId": "4",
                              "token": "USDM",
                              "createdDate": "2021-11-07",
                              "feePercentage": "30",
                              "interestPercentage": "30",
                              "turnOver": "0",
                              "allSubAgentFeeIncome": "0",
                              "allSubAgentInterestIncome": "0",
                              "allChildAgentFeeIncome": "0",
                              "allChildAgentInterestIncome": "0",
                              "netAgentFeeIncome": "0",
                              "netAgentInterestIncome": "0",
                              "distMTokenRate": "100",
                              "distMSTTokenRate": "0",
                              "distMSTToken": "0",
                              "distMToken": "0"
                            },
                            {
                              "id": "47694",
                              "agentId": "4",
                              "token": "ETHM",
                              "createdDate": "2021-11-07",
                              "feePercentage": "30",
                              "interestPercentage": "30",
                              "turnOver": "0",
                              "allSubAgentFeeIncome": "0",
                              "allSubAgentInterestIncome": "0",
                              "allChildAgentFeeIncome": "0",
                              "allChildAgentInterestIncome": "0",
                              "netAgentFeeIncome": "0",
                              "netAgentInterestIncome": "0",
                              "distMTokenRate": "100",
                              "distMSTTokenRate": "0",
                              "distMSTToken": "0",
                              "distMToken": "0"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commisionJobs/getSubAgentsWeeklyCommission": {
      "get": {
        "tags": ["dApp"],
        "summary": " Get latest weekly volume of sub agents by login agent id, use in dApp' s [Friend List] page ",
        "operationId": "CommisionJobController.getSubAgentsWeeklyCommission",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": [
                            {
                              "agentId": "6",
                              "address": "0xe62fb071848d892b01924a8f089555e898522bf9",
                              "parentAgentId": "4",
                              "name": "6",
                              "customerId": "6",
                              "riskLevel": "100",
                              "weeklyVolume": "5000000000"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{{dApp}}/commisionDistributions/acquireSuccess": {
      "post": {
        "tags": ["dApp"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "When agent successfully got their distrubution from smart contract, update db record status to acquired",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": 1,
                  "txHash": "yoyoyo",
                  "txDate": "2021-02-02"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Success"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Query sub agents by jwt.id/req.agentId",
        "description": "if root agent pass agentId as query params, it will show the sub agents of the agentId, if root agent does not pass agentId as query params, it will show the sub agents of the root agent,if normal agent, it will use jwt.id as agentId",
        "parameters": [
          {
            "name": "recordPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20",
            "required": true
          },
          {
            "name": "pageNo",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0",
            "required": true
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
            "required": false
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "agentname",
            "required": false
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0",
            "description": "StatusPending = 0 | StatusInactive = 10 | StatusActive = 20, Agent status",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "5",
                                "address": "0x51e2dd0d7f8224413d9c1c6aa22582abedf23a39",
                                "name": "test222",
                                "email": "test222@email.com",
                                "parentAgentId": "2",
                                "interestPercentage": "50",
                                "feePercentage": "50",
                                "createdDate": "2021-10-21T10:26:02.974Z",
                                "createdById": "2",
                                "lastModifiedDate": "2021-10-21T10:26:02.974Z",
                                "lastModifiedById": "2",
                                "status": 20,
                                "role": null
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/details/7": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get agent detail by agent_id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "id": "7",
                            "address": "0x954d4e02b9ae87e1f67e9a7f268cda42cf03e758",
                            "name": "ca_account16",
                            "password": "0xc888c9ce9e098d5864d3ded6ebcc140a12142263bace3a23a36f9905f12bd64a",
                            "email": "ca_account16@18m.dev",
                            "parentAgentId": "1",
                            "interestPercentage": "80",
                            "feePercentage": "80",
                            "createdDate": "2021-10-26T10:39:13.083Z",
                            "createdById": "1",
                            "lastModifiedDate": "2021-10-26T10:39:13.083Z",
                            "lastModifiedById": "1",
                            "status": 20,
                            "role": null
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getSubAgent": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "get sub agent by jwt.id/agentId",
        "parameters": [
          {
            "name": "recordPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20",
            "required": true
          },
          {
            "name": "pageNo",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "5",
                                "address": "0x51e2dd0d7f8224413d9c1c6aa22582abedf23a39",
                                "name": "test222",
                                "email": "test222@email.com",
                                "parentAgentId": "2",
                                "interestPercentage": "50",
                                "feePercentage": "50",
                                "createdDate": "2021-10-21T10:26:02.974Z",
                                "createdById": "2",
                                "lastModifiedDate": "2021-10-21T10:26:02.974Z",
                                "lastModifiedById": "2",
                                "status": 20,
                                "role": null
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getNoOfNodes": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get no. of customers or agents belongs to the jwt.id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "agents": "1",
                            "customers": "0"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/create": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Create agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8d2",
                  "name": "ab21c",
                  "email": "new_user1@gmail.com",
                  "password": "123",
                  "interestPercentage": "70",
                  "feePercentage": "70"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "New agent is created. New record id :(8)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "info"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/update": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "{{ipAgent}}/agents/updateFundingCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 10,
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8x0",
                  "name": "cf_test003",
                  "email": "cf_test003@gmail.com",
                  "totalCredit": 13,
                  "interestPercentage": 5,
                  "feePercentage": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Updated affected rows (1)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/changeRole": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Used when root agent wants to view in sub agent perspective, it will return the token of req.body.agentId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "agnetId": 2
                }
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbklkIjoiMSIsImlkIjoiMiIsIm5hbWUiOiIyIiwidHlwZSI6IkFnZW50Iiwic3RhdHVzIjoyMCwicGFyZW50QWdlbnRJZCI6IjEiLCJhZGRyZXNzIjoiMHgyMjc0NjBkNDA2ZjA5MzdlY2Q5ODJiMjBjZmZmNWE5MmU3ZmM0YzJiIiwiaWF0IjoxNjM1NDk1MzQ3LCJleHAiOjE2MzU1MDk3NDd9.d8NnfZGAuSR7eAGEkjFg5VqLSr5x5onQgiS_uBS2Mw4",
                            "loginId": "1",
                            "id": "2"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/login": {
      "post": {
        "tags": ["Agent"],
        "summary": "Agent login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "signature": "0x6b394596918c5a94800c8cfe0cd12070b1a5c79e0cf523337a3b9fd69e7b81c9062cbde60ff66eb631ce1b7edbbfdb393138cf6259520a037a8120f43701b0ab1c",
                  "message": "deviceId=&timestamp=1630311347619&walletAddress=4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "email": "test@email.com",
                  "password": "12345"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbklkIjoiMSIsImlkIjoiMiIsIm5hbWUiOiIyIiwidHlwZSI6IkFnZW50Iiwic3RhdHVzIjoyMCwicGFyZW50QWdlbnRJZCI6IjEiLCJhZGRyZXNzIjoiMHgyMjc0NjBkNDA2ZjA5MzdlY2Q5ODJiMjBjZmZmNWE5MmU3ZmM0YzJiIiwiaWF0IjoxNjM1NDk1MzQ3LCJleHAiOjE2MzU1MDk3NDd9.d8NnfZGAuSR7eAGEkjFg5VqLSr5x5onQgiS_uBS2Mw4",
                            "loginId": "1",
                            "id": "2"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/genReferralCode": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Agent generate referral code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "interestPercentage": 0,
                  "feePercentage": 80,
                  "agentName": "",
                  "expiryDate": "2021-11-01",
                  "type": "0",
                  "agentType": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "data": "eyJleHAiOjE2MzczNzQxNDV9.kAVcxkr5sl-JDZyzalNYlGxDTDPdBKsJeh5KzfAvCAo"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getAllReferralCode": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Agent list all referral code generated by agent id",
        "operationId": "AgentController.getAllReferralCode",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "1",
                                "referralCode": "eyJleHAiOjE2MzczNzQxNDV9.kAVcxkr5sl-JDZyzalNYlGxDTDPdBKsJeh5KzfAvCAo",
                                "type": 0,
                                "agentId": "1",
                                "agentName": "",
                                "hashString": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
                                "feePercentage": "80",
                                "interestPercentage": "80",
                                "isUsed": false,
                                "codeStatus": 1,
                                "agentType": 1,
                                "expiryDate": "2021-11-01",
                                "createdDate": "2021-11-10T02:09:05.670Z",
                                "createdById": "1",
                                "lastModifiedDate": "2021-11-10T02:09:05.670Z",
                                "lastModifiedById": "1",
                                "status": 20,
                                "agent.address": "0xabaf0503d06ac5d222653f3294a134db3ca98e29"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/registerWithReferralCode": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "{{ipAgent}}/agents/updateFundingCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "testtesttestAgent",
                  "email": "testtesttestAgent@email.com",
                  "password": "0xb68fe43f0d1a0d7aef123722670be50268e15365401c442f8806ef83b612976b",
                  "message": "deviceId=&timestamp=1636343983527&walletAddress=11a8046026af9f0f23fd3612138464f7af55aa0f",
                  "address": "0x11a8046026af9f0f23fd3612138464f7af55aa0f",
                  "signature": "0x8af536e44263bc7cb4058d2634643a2753157f0a18200e17b610dc98475a9ecd2086148ae34906be161740f352a270a9dcf4160993d07c8d1a41695a067e98ae1c",
                  "referralCode": "eyJpYXQiOjE2MzYxMDEwMjR9.EjBYFqbacAQvgVu6JciyfP52OwjjBWGlsOGRx7-sNow"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Create Agent with refferal Code successs"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getCurrentLevelDetails": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get fix level agent next level details by agent_id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "nextAgentLevel": 1,
                            "nextAgentFee": "80",
                            "nextAgnetInterest": "80",
                            "totalSubAgent": 5,
                            "totalRegisteredSubAgent": 3
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["Agent"],
        "summary": "Get data list of customers",
        "operationId": "CustomerController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Customer address(Like)",
            "example": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Customer name(Like)",
            "example": "Adeeeee"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "StatusPending = 0｜StatusInactive = 10｜StatusActive = 20",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "1",
                                "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
                                "name": null,
                                "agentId": "1",
                                "leverage": "0",
                                "maxFunding": "0",
                                "creditMode": 0,
                                "contractStatus": 0,
                                "riskLevel": "0",
                                "fundingCodeId": null,
                                "createdDate": "2021-10-29T04:20:03.931Z",
                                "createdById": "1",
                                "lastModifiedDate": "2021-10-29T04:20:03.921Z",
                                "lastModifiedById": "1",
                                "status": 20,
                                "agent": {
                                  "id": "1",
                                  "name": "1"
                                },
                                "fundingCode": null
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/details/:id": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get customer detail by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "customer id",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "id": "1",
                            "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
                            "name": null,
                            "agentId": "1",
                            "leverage": "0",
                            "maxFunding": "0",
                            "creditMode": 0,
                            "contractStatus": 0,
                            "riskLevel": "0",
                            "fundingCodeId": null,
                            "createdDate": "2021-10-29T04:20:03.931Z",
                            "createdById": "1",
                            "lastModifiedDate": "2021-10-29T04:20:03.921Z",
                            "lastModifiedById": "1",
                            "status": 20
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/genFundingCode": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Generate funding code based on login agent id and request type",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customerName": {
                    "type": "string",
                    "description": "Customer name",
                    "example": "ab1@gmail.com"
                  },
                  "type": {
                    "type": "string",
                    "description": "ForeverUse = 1, OneTimeUse = 0",
                    "example": 0
                  }
                },
                "required": ["customerName", "type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Generate funding code successs"
                        },
                        "data": {
                          "type": "object",
                          "example": "eyJleHAiOjE2MzY2MTIzOTB9.2XOa9VRkoKZ4jdOsbhcN-fJ6scq7MqaOFUUIW-AxQSw"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/create": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Create customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "name": "ab21c",
                  "email": "new_user@gmail.com",
                  "agentId": "4",
                  "credit": "55",
                  "enable": true,
                  "riskLevel": 101,
                  "createdDate": "2021-09-15T06:19:40.276Z",
                  "createdById": null,
                  "lastModifiedDate": "2021-09-15T06:19:40.530Z",
                  "lastModifiedById": null,
                  "creditMode": 1,
                  "status": 20
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "New agent is created. New record id :(8)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "info"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/update": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Update a customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": "12",
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "name": "hejfk1",
                  "credit": "1000000000",
                  "contractStatus": 0,
                  "riskLevel": "800000"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Customer Updated"
                        },
                        "respType": {
                          "type": "string",
                          "example": "info"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/logs/read": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Read log of agent server",
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "info",
            "description": "info | error"
          },
          {
            "name": "linesLimit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "12"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {},
                          "example": [
                            "[ERROR]: [2021-10-29T09:41:24.600Z] [notNull Violation: t_decats_customers.creditMode cannot be null] [SequelizeValidationError: notNull Violation: t_decats_customers.creditMode cannot be null",
                            "    at InstanceValidator._validate (/Users/vince/Documents/GitHub/src/DeCATS-backend/MappedSwap_BackEnd/node_modules/sequelize/lib/instance-validator.js:78:13)",
                            "    at processTicksAndRejections (internal/process/task_queues.js:95:5)",
                            "    at async InstanceValidator._validateAndRunHooks (/Users/vince/Documents/GitHub/src/DeCATS-backend/MappedSwap_BackEnd/node_modules/sequelize/lib/instance-validator.js:111:7)"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{{ipAgent}}/balancesHistories": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get data list from t_decats_balances_histories",
        "parameters": [
          {
            "name": "recordPerPage",
            "description": "How many records this API returned",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "20"
          },
          {
            "name": "pageNo",
            "description": "page number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "name",
            "description": "Customer name (Like)",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "gaga"
          },
          {
            "name": "agentId",
            "description": "Agent Id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "address",
            "description": "Customer address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db"
          },
          {
            "name": "token",
            "description": "Token name (ETHM,USDM,BTCM)",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "ETHM"
          },
          {
            "name": "type",
            "description": "Withdraw = 10 | Deposit = 20 | Exchange = 30 | Stopout = 40",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "10"
          },
          {
            "name": "dateFrom",
            "description": "Date From",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2021-10-21"
          },
          {
            "name": "dateTo",
            "description": "Date To",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2021-10-23"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/balances": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get data list from t_decats_balances",
        "parameters": [
          {
            "name": "recordPerPage",
            "description": "How many records this API returned",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "20"
          },
          {
            "name": "pageNo",
            "description": "Page number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "name",
            "description": "Customer name (Like)",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "gaga"
          },
          {
            "name": "agentId",
            "description": "Agent Id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "token",
            "description": "Token name (ETHM,USDM,BTCM)",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "ETHM"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 2,
                            "rows": [
                              {
                                "id": "1425",
                                "address": "0xc70bb643e7cca5489df31551ce4a0b5c164d513a",
                                "customerId": "12",
                                "agentId": "1",
                                "token": "ETHM",
                                "type": 2,
                                "amount": "2577802941567819737",
                                "balance": "2577802941567819737",
                                "updateTime": "2021-10-18T02:50:12.000Z",
                                "txHash": "0xe3b95c923262882f031a8271e5c6ce75d675635783c8188d66b947e30d207312",
                                "createdDate": "2021-10-18T02:50:12.265Z",
                                "lastModifiedDate": "2021-10-18T02:50:12.265Z",
                                "status": 0,
                                "customer": {
                                  "id": "12",
                                  "address": "0xc70bb643e7cca5489df31551ce4a0b5c164d513a",
                                  "name": "cf_test006@gmail.com",
                                  "agentId": "2",
                                  "leverage": "10000",
                                  "maxFunding": "100000000000000",
                                  "creditMode": 1,
                                  "contractStatus": 1,
                                  "riskLevel": "55",
                                  "fundingCodeId": null,
                                  "createdDate": "2021-10-15T11:12:42.127Z",
                                  "createdById": "12",
                                  "lastModifiedDate": "2021-10-22T07:14:22.576Z",
                                  "lastModifiedById": "12",
                                  "status": 20
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agentDailyReports": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "get agent daily report data list",
        "parameters": [
          {
            "name": "recordPerPage",
            "description": "How many records this API returned",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "20"
          },
          {
            "name": "pageNo",
            "description": "page no",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Agent Id",
            "example": "1"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Token name",
            "example": "BTCM"
          },
          {
            "name": "dateFrom",
            "description": "Date From (createdDate)",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2021-10-21"
          },
          {
            "name": "dateTo",
            "description": "Date To (createdDate)",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2021-10-23"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "data": {
                              "count": 177,
                              "rows": [
                                {
                                  "id": "1101"
                                }
                              ]
                            },
                            "sum": [
                              {
                                "token": "BTCM",
                                "sumOfDirectFeeIncome": "0",
                                "sumOfDirectInterestFeeIncome": "0",
                                "sumOfNetAgentFeeIncome": "0",
                                "sumOfNetInterestIncome": "0",
                                "sumOfTotalIncome": "0"
                              },
                              {
                                "token": "USDM",
                                "sumOfDirectFeeIncome": "1500000",
                                "sumOfDirectInterestFeeIncome": "4681872",
                                "sumOfNetAgentFeeIncome": "0",
                                "sumOfNetInterestIncome": "0",
                                "sumOfTotalIncome": "6181872"
                              },
                              {
                                "token": "ETHM",
                                "sumOfDirectFeeIncome": "3904782000000000",
                                "sumOfDirectInterestFeeIncome": "0",
                                "sumOfNetAgentFeeIncome": "0",
                                "sumOfNetInterestIncome": "0",
                                "sumOfTotalIncome": "3904782000000000"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agentDailyReports/getIncomeAnalysis": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get sum information daily of income analysis (direct_fee_income, direct_interest_income, all_sub_agent_fee_income, all_sub_agent_interest_income) based on token",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "agent daily report createdDate from",
            "schema": {
              "type": "string"
            },
            "example": "2021-09-11"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "agent daily report createdDate to",
            "schema": {
              "type": "string"
            },
            "example": "2021-09-21"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": [
                            {
                              "token": "BTCM",
                              "createdDate": "2021-09-11",
                              "sumOfDirectFeeIncome": "0",
                              "sumOfDirectInterestFeeIncome": "0",
                              "sumOfAllSubAgentFeeIncome": "0",
                              "sumOfAllSubAgentInterestIncome": "0"
                            },
                            {
                              "token": "BTCM",
                              "createdDate": "2021-09-12",
                              "sumOfDirectFeeIncome": "0",
                              "sumOfDirectInterestFeeIncome": "0",
                              "sumOfAllSubAgentFeeIncome": "0",
                              "sumOfAllSubAgentInterestIncome": "0"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commisionJobs": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get commision job by status (filtered by jwt.id)",
        "parameters": [
          {
            "name": "recordPerPage",
            "description": "How many records this API returned",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "20"
          },
          {
            "name": "pageNo",
            "description": "Page no",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "status",
            "description": "Created = 0, Fail = 10, Approved = 30, NotApproved = 31,",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
[...]
