.navBarWrap {
  font-family: Inter;
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  .navImgWrap {
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
  }
  .navBarOptionsWrap {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 43px;
  }
}
