.history_body {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading_message {
  border-radius: 6px;
  height: 17px;
  width: 126px;
  background-color: #c5c5c5;
}
