{
  "openapi": "3.0.1",
  "info": {
    "title": "MappedSwap API Version 0.1",
    "description": "MappedSwap API specification version 0.1",
    "termsOfService": "http://swagger.io/terms/",
    "version": "0.1.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },

  "servers": [
    {
      "url": "https://decatsdevagentapi.mappedswap.io",
      "description": "Agent server (dev)"
    },
    {
      "url": "https://decatsdevdappapi.mappedswap.io",
      "description": "DApp server (dev)"
    },
    {
      "url": "http://13.229.211.216:8096",
      "description": "CronJob server (dev)"
    },
    {
      "url": "https://testnetmappedswapapi.mappedswap.io",
      "description": "Agent server (Testnet)"
    },
    {
      "url": "https://testnetmappedswapdappapi.mappedswap.io",
      "description": "DApp server (Testnet)"
    },
    {
      "url": "http://54.169.228.231:8096",
      "description": "CronJob server (Testnet)"
    },
    {
      "url": "Nope",
      "description": "Online Data Fetcher"
    }
  ],
  "tags": [
    {
      "name": "Agent",
      "description": "Agent related service"
    },
    {
      "name": "dApp",
      "description": "DApp related service"
    },
    {
      "name": "cronJob",
      "description": "Cron job related service"
    }
  ],
  "paths": {
    "/customers/login": {
      "post": {
        "tags": ["dApp"],
        "summary": "Login for dApp(map funding code and if agent type is MST create agent if funding code is exist), the parameters is from web3 signature",
        "operationId": "loginByCustomerId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "signature": {
                        "type": "string",
                        "description": "signature from key"
                      },
                      "message": {
                        "type": "string",
                        "description": "message signed"
                      },
                      "address": {
                        "type": "string",
                        "description": "wallet address"
                      }
                    }
                  }
                ],
                "example": {
                  "signature": "0x6b394596918c5a94800c8cfe0cd12070b1a5c79e0cf523337a3b9fd69e7b81c9062cbde60ff66eb631ce1b7edbbfdb393138cf6259520a037a8120f43701b0ab1c",
                  "message": "deviceId=&timestamp=1630311347619&walletAddress=4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "fundingCode": "eyJleHAiOjE2MzU0OTA0MjN9.xkSwdiaCPhLI-bjZnixrQfvlVPputWam4doZzmKCrAM"
                },
                "required": ["signature", "message", "address"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjEiLCJuYW1lIjoiY2ZfdGVzdDAwMUBnbWFpbC5jb20iLCJ0eXBlIjoiQ3VzdG9tZXIiLCJzdGF0dXMiOjIwLCJhZGRyZXNzIjoiMHg0ZGZiNmQ2NzkwMDU0ZjNlYjY4MzI0YmMyMzBlMzEwNDEzN2NhOGRiIiwiY29udHJhY3RTdGF0dXMiOjAsImlhdCI6MTYzNDU0NTYzMCwiZXhwIjoxNjM1MTUwNDMwfQ.7fTeaP_N14IGUqVjfkWCQuF1s3WFneksC4GQtpPPVR8",
                          "description": "JWT token"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/loadFundingCode": {
      "post": {
        "tags": ["dApp"],
        "summary": "Login for dApp, the parameters is from web3 signature",
        "operationId": "loadFundingCode",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "fundingCode": {
                        "type": "string",
                        "description": "funding code"
                      }
                    }
                  }
                ],
                "example": {
                  "fundingCode": "eyJleHAiOjE2MzU0OTA0MjN9.xkSwdiaCPhLI-bjZnixrQfvlVPputWam4doZzmKCrAM"
                },
                "required": ["fundingCode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Funding Code used successfully."
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prices": {
      "get": {
        "tags": ["dApp"],
        "summary": "get all prices from memory loader",
        "operationId": "prices.getAll",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "description": "id"
                              },
                              "pairName": {
                                "type": "string",
                                "example": "ETHM/USDM",
                                "description": "Pair name"
                              },
                              "reserve0": {
                                "type": "string",
                                "example": "294801602105459545408106",
                                "description": "Reserver of 1st pair"
                              },
                              "reserve1": {
                                "type": "string",
                                "example": "1133921459526750",
                                "description": "Reserver of 2nd pair"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2021-10-18T08:34:02.108Z",
                                "description": "Created date"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/priceHistories": {
      "get": {
        "tags": ["dApp"],
        "summary": "get all 1 minute data from table price_histories",
        "operationId": "priceHistoriesController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "pairName",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "ETHM/USDM or BTCM/USDM",
            "example": "BTCM"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": 1,
                                "description": "id"
                              },
                              "pairName": {
                                "type": "string",
                                "example": "ETHM/USDM",
                                "description": "Pair name"
                              },
                              "reserve0": {
                                "type": "string",
                                "example": "294801602105459545408106",
                                "description": "Reserver of 1st pair"
                              },
                              "reserve1": {
                                "type": "string",
                                "example": "1133921459526750",
                                "description": "Reserver of 2nd pair"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2021-10-18T08:34:02.108Z",
                                "description": "Created date"
                              },
                              "open": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "Open"
                              },
                              "close": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "Close"
                              },
                              "low": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "Low"
                              },
                              "high": {
                                "type": "string",
                                "example": "3826.44007777",
                                "description": "High"
                              },
                              "volume": {
                                "type": "string",
                                "example": "0",
                                "description": "Created date"
                              },
                              "interval": {
                                "type": "string",
                                "example": "60",
                                "description": "Time interval, 60 means 60s"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/priceHistories/getKLineData": {
      "get": {
        "tags": ["dApp"],
        "summary": "get all data from table price_histories",
        "operationId": "priceHistoriesController.getKLineData",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "timeInterval",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "60 | 300 | 1800 | 3600 | 86400, 1 min = 60",
            "example": 60
          },
          {
            "in": "query",
            "name": "pairName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ETHM/USDM or BTCM/USDM",
            "example": "ETHM/USDM"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "description": "id"
                              },
                              "pairName": {
                                "type": "string",
                                "example": "ETHM/USDM",
                                "description": "Pair name"
                              },
                              "reserve0": {
                                "type": "string",
                                "example": "294801602105459545408106",
                                "description": "Reserver of 1st pair"
                              },
                              "reserve1": {
                                "type": "string",
                                "example": "1133921459526750",
                                "description": "Reserver of 2nd pair"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2021-10-18T08:34:02.108Z",
                                "description": "Created date"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/priceHistories/getKLineDataVolumeSum": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get sum data of volume from t_decats_price_histories table",
        "operationId": "priceHistoriesController.getKLineDataVolumeSum",
        "parameters": [
          {
            "in": "query",
            "name": "pairName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ETHM/USDM or BTCM/USDM",
            "example": "ETHM/USDM"
          },
          {
            "in": "query",
            "name": "duration",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "8 | 16 | 24, Duration of the volume sum",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "dateFrom related to the sum you want to start calculating, if dateFrom=2021-10-23, duration=8, then it will get sum of volume of the (now to last 8h) and (last 16h to last 8h) on 2021-10-23",
            "example": "2021-10-23"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {},
                          "example": [
                            {
                              "sumOfVolume": "19084932455803526",
                              "dateFrom": "2021-10-27T09:07:47.141Z",
                              "dateTo": "2021-10-28T09:07:47.141Z",
                              "duration": "24 hours",
                              "pairName": "BTCM/USDM"
                            },
                            {
                              "sumOfVolume": "43079395143031",
                              "dateFrom": "2021-10-26T09:07:47.203Z",
                              "dateTo": "2021-10-27T09:07:47.203Z",
                              "duration": "24 hours",
                              "pairName": "BTCM/USDM"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/priceHistories/getHistoryPrice": {
      "get": {
        "tags": ["dApp"],
        "summary": "get data from table price_histories",
        "operationId": "priceHistoriesController.getHistoryPrice",
        "parameters": [
          {
            "in": "query",
            "name": "pairName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ETHM/USDM or BTCM/USDM",
            "example": "ETHM/USDM"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "id": "406396",
                            "pairName": "ETHM/USDM",
                            "reserve0": "10253443548221173036637889",
                            "reserve1": "32995036856022663",
                            "createdDate": "2022-02-08T06:58:01.000Z",
                            "status": 0,
                            "open": "3217.94689763",
                            "close": "3217.94689763",
                            "low": "3217.94689763",
                            "high": "3217.94689763",
                            "volume": "0",
                            "interval": "60",
                            "reserve0DecimalPlace": 18,
                            "reserve1DecimalPlace": 6
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/interestHistories": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data of t_decats_interest_histories based on customer' s address (address is passed through jwt)",
        "operationId": "InterestHistoryController.getAll",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Customer wallet address",
            "example": "0x4dfb6d6790054f3eb68324bc230e2345242ca8db"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 7,
                            "rows": [
                              {
                                "id": "2339",
                                "address": "0x028fb0e5160bc19639450827c673445105d99071",
                                "customerId": "43",
                                "agentId": "3",
                                "fromTime": "2021-10-26T09:00:00.000Z",
                                "toTime": "2021-10-26T09:15:00.000Z",
                                "token": "ETHM",
                                "amount": "-500000000000000000",
                                "rate": "10000",
                                "interest": "5000000000000",
                                "totalInterest": "10000000000000",
                                "createdDate": "2021-10-26T09:15:00.220Z",
                                "lastModifiedDate": "2021-10-26T09:15:00.220Z",
                                "status": 1
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data of t_decats_price_transactions based on customer' s address",
        "operationId": "priceHistoriesController.t_decats_price_transactions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Customer wallet address",
            "example": "0x4dfb6d6790054f3eb68324bc230e2345242ca8db"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 6,
                            "rows": [
                              {
                                "id": "33834",
                                "address": "0x028fb0e5160bc19639450827c673445105d99071",
                                "customerId": "43",
                                "agentId": "3",
                                "sellToken": "ETHM",
                                "sellAmount": "11631694000000000000",
                                "buyToken": "USDM",
                                "buyAmount": "48913713916",
                                "txHash": "0x2e4a0614402d0b9bf76532c64751b01313a8247176fc0bd228b2e396b5ee298a",
                                "txTime": "2021-10-26T09:18:00.000Z",
                                "txStatus": 2,
                                "gasFee": "0",
                                "blockHeight": "8672050",
                                "blockHash": "0x7eb3b27b4eba415824eaf4d41f850c127139d630d5e91e18456b4955098b690e",
                                "stopout": false,
                                "createdDate": "2021-10-26T09:18:00.366Z",
                                "lastModifiedDate": "2021-10-26T09:18:00.366Z"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions/getAllBurnTranscation(dApp)": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["dApp"],
        "summary": "Get all Burn Transcation",
        "operationId": "TransactionsController.getAllBurnTranscation",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "23",
                                "txHash": "0x2de93f10f409a5794cdaa485d4e14933a2011bbc00e8a71f7af28afc833be803",
                                "mstAmount": "163078930202217873401",
                                "createdDate": "2022-02-09T02:39:47.666Z",
                                "createdById": "1",
                                "lastModifiedDate": "2022-02-09T02:39:47.666Z",
                                "lastModifiedById": "1",
                                "status": 20
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/transactions/getAllBuyBackTranscation(dApp)": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["dApp"],
        "summary": "Get all Buy Back Transcation",
        "operationId": "TransactionsController.getAllBuyBackTranscation",
        "parameters": [
          {
            "in": "query",
            "name": "fromTime",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Start time to selected query",
            "example": 20
          },
          {
            "in": "query",
            "name": "toTime",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "End time to selected query",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "23",
                                "txHash": "0x2de93f10f409a5794cdaa485d4e14933a2011bbc00e8a71f7af28afc833be804",
                                "mstAmount": "163078930202217873402",
                                "usdPrice": "1234567899876543210",
                                "createdDate": "2022-02-09T02:43:35.594Z",
                                "createdById": "1",
                                "lastModifiedDate": "2022-02-09T02:43:35.594Z",
                                "lastModifiedById": "1",
                                "status": 20
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/balancesHistories": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data from t_decats_balance_histories table based on address (address is passed through jwt)",
        "operationId": "BalanceHistoryController.getAll",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "USDM | ETHM | BTCM, token name",
            "example": "USDM"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Withdraw = 10, Deposit = 20, Exchange = 30, Stopout = 40,",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date from",
            "example": "2021-12-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date to",
            "example": "2021-12-30"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 42745,
                            "rows": [
                              {
                                "id": "44075",
                                "address": "0xfbefb1134c919f02fada77156cab39d0028eb6d0",
                                "customerId": "0",
                                "agentId": "1",
                                "token": "ETHM",
                                "type": 2,
                                "amount": "886841183352836311741",
                                "balance": "991448505215343023572508249",
                                "updateTime": "2021-10-28T10:01:02.000Z",
                                "txHash": "0x8e1bc985a857a4e18db8591f049bc874de3116991a3753d0af70b3f4c68a6e32",
                                "createdDate": "2021-10-28T10:01:02.191Z",
                                "lastModifiedDate": "2021-10-28T10:01:02.191Z",
                                "status": 0
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/price/getPairInfo (XXXXXX)": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data from t_decats_balance_histories table based on address (address is passed through jwt)",
        "operationId": "BalanceHistoryController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "USDM | ETHM | BTCM, token name",
            "example": "USDM"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Withdraw = 10, Deposit = 20, Exchange = 30, Stopout = 40,",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date from",
            "example": "2021-12-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date to",
            "example": "2021-12-30"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "pairName": "USDM/BTCM",
                            "reserve0": "431566464424857",
                            "reserve1": "263076698033680799",
                            "reserve0DecimalPlace": 8,
                            "reserve1DecimalPlace": 6,
                            "price": 3657.513542683809
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prices/getAllBlockPrice (XXXXXX)": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get data from t_decats_balance_histories table based on address (address is passed through jwt)",
        "operationId": "BalanceHistoryController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "USDM | ETHM | BTCM, token name",
            "example": "USDM"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Withdraw = 10, Deposit = 20, Exchange = 30, Stopout = 40,",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date from",
            "example": "2021-12-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Date to",
            "example": "2021-12-30"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 450,
                            "rows": [
                              {
                                "id": 169812,
                                "pairName": "BTCM/USDM",
                                "reserve0": "2492419120344",
                                "reserve1": "1597556621848179",
                                "createdDate": "2021-10-20T09:44:59.174Z",
                                "reserve0DecimalPlace": 8,
                                "reserve1DecimalPlace": 6
                              },
                              {
                                "id": 169810,
                                "pairName": "BTCM/USDM",
                                "reserve0": "2492419120344",
                                "reserve1": "1597556621848179",
                                "createdDate": "2021-10-20T09:44:56.185Z",
                                "reserve0DecimalPlace": 8,
                                "reserve1DecimalPlace": 6
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commissionJobs/getExpectedCommission": {
      "get": {
        "tags": ["dApp"],
        "summary": "Get lastest commission from agent daily reports, use in dApp' s [Referral Program] tab. Reassign grade and commissionRate based on the least holdMST calculated grade and txFeeGrade",
        "operationId": "dApp.CommissionJobController.getExpectedCommission",
        "parameters": [
          {
            "in": "query",
            "name": "holdMST",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "holdMST will be used to loop up for grade in distRuleMST table",
            "example": "50000000000000000000000"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "weeklyVolume": "0",
                            "data": [
                              {
                                "token": "USDM",
                                "income": "0",
                                "createdDate": "2021-11-09"
                              },
                              {
                                "token": "BTCM",
                                "income": "0",
                                "createdDate": "2021-11-09"
                              },
                              {
                                "token": "ETHM",
                                "income": "34323",
                                "createdDate": "2021-11-09"
                              },
                              {
                                "token": "MST",
                                "income": "0",
                                "stakedMst": "1000000000000000000000",
                                "txFeeGrade": 10,
                                "stakedMSTGrade": 10,
                                "grade": 9,
                                "commissionRate": "15",
                                "createdDate": "2022-01-06"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commissionJobs/getLedgers": {
      "get": {
        "tags": ["dApp"],
        "summary": " Get commission jobs and distributions list by agent id, use in dApp' s [My Referral Rewards] page",
        "operationId": "CommissionJobController.getLedgers",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Created=0 | NotAcquired=10 | Acquired=20,  commission distribution status",
            "example": 0
          },
          {
            "in": "query",
            "name": "dateMonth",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Month, 1 = Jan. Either year+month, year, or no year and month filter",
            "example": 1
          },
          {
            "in": "query",
            "name": "dateYear",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Year. Either year+month, year, or no year and month filter",
            "example": 1994
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 450,
                            "rows": [
                              {
                                "id": "95",
                                "dateFrom": "2021-11-02",
                                "dateTo": "2021-11-08",
                                "status": 0,
                                "roundId": "394",
                                "cronJobId": "12",
                                "ledgers": [
                                  {
                                    "token": "BTCM",
                                    "distCommission": "0"
                                  },
                                  {
                                    "token": "ETHM",
                                    "distCommission": "0"
                                  },
                                  {
                                    "token": "MST",
                                    "distCommission": "0"
                                  },
                                  {
                                    "token": "USDM",
                                    "distCommission": "0"
                                  }
                                ],
                                "distributions": null
                              },
                              {
                                "id": "94",
                                "dateFrom": "2021-10-26",
                                "dateTo": "2021-11-01",
                                "status": 0,
                                "roundId": "393",
                                "ledgers": [
                                  {
                                    "token": "BTCM",
                                    "distCommission": "0"
                                  },
                                  {
                                    "token": "ETHM",
                                    "distCommission": "0"
                                  },
                                  {
                                    "token": "MST",
                                    "distCommission": "0"
                                  },
                                  {
                                    "token": "USDM",
                                    "distCommission": "0"
                                  }
                                ],
                                "distributions": null
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commissionJobs/getLedgersDetails": {
      "get": {
        "tags": ["dApp"],
        "summary": " Get reports by agent id, use in dApp' s [My Referral Rewards] page when click Detail button",
        "operationId": "CommissionJobController.getReportsByAgentId",
        "parameters": [
          {
            "in": "query",
            "name": "cronJobId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "cronJobId from getLedgers",
            "example": "2021-11-02"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": [
                            {
                              "id": "47696",
                              "agentId": "4",
                              "token": "BTCM",
                              "createdDate": "2021-11-07",
                              "feePercentage": "30",
                              "interestPercentage": "30",
                              "turnOver": "0",
                              "allSubAgentFeeIncome": "0",
                              "allSubAgentInterestIncome": "0",
                              "allChildAgentFeeIncome": "0",
                              "allChildAgentInterestIncome": "0",
                              "netAgentFeeIncome": "0",
                              "netAgentInterestIncome": "0",
                              "distMTokenRate": "100",
                              "distMSTTokenRate": "0",
                              "distMSTToken": "0",
                              "distMToken": "0"
                            },
                            {
                              "id": "47695",
                              "agentId": "4",
                              "token": "USDM",
                              "createdDate": "2021-11-07",
                              "feePercentage": "30",
                              "interestPercentage": "30",
                              "turnOver": "0",
                              "allSubAgentFeeIncome": "0",
                              "allSubAgentInterestIncome": "0",
                              "allChildAgentFeeIncome": "0",
                              "allChildAgentInterestIncome": "0",
                              "netAgentFeeIncome": "0",
                              "netAgentInterestIncome": "0",
                              "distMTokenRate": "100",
                              "distMSTTokenRate": "0",
                              "distMSTToken": "0",
                              "distMToken": "0"
                            },
                            {
                              "id": "47694",
                              "agentId": "4",
                              "token": "ETHM",
                              "createdDate": "2021-11-07",
                              "feePercentage": "30",
                              "interestPercentage": "30",
                              "turnOver": "0",
                              "allSubAgentFeeIncome": "0",
                              "allSubAgentInterestIncome": "0",
                              "allChildAgentFeeIncome": "0",
                              "allChildAgentInterestIncome": "0",
                              "netAgentFeeIncome": "0",
                              "netAgentInterestIncome": "0",
                              "distMTokenRate": "100",
                              "distMSTTokenRate": "0",
                              "distMSTToken": "0",
                              "distMToken": "0"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/commissionJobs/getSubAgentsWeeklyCommission": {
      "get": {
        "tags": ["dApp"],
        "summary": " Get latest weekly volume of sub agents by login agent id, use in dApp' s [Friend List] page ",
        "operationId": "CommissionJobController.getSubAgentsWeeklyCommission",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": [
                            {
                              "agentId": "6",
                              "address": "0xe62fb071848d892b01924a8f089555e898522bf9",
                              "parentAgentId": "4",
                              "name": "6",
                              "customerId": "6",
                              "riskLevel": "100",
                              "weeklyVolume": "5000000000"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dailyStatisticReports": {
      "get": {
        "tags": ["Agent"],
        "summary": "get reports from table t_decats_daily_statistic_reports",
        "operationId": "dailyStatisticReportController.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "date from",
            "example": "2022-01-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "date to",
            "example": "2022-12-31"
          },
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 26,
                                "description": "id"
                              },
                              "noOfConnectedWallets": {
                                "type": "integer",
                                "example": 2,
                                "description": "number of connected wallets between dateFrom and dateTo (Connected wallets in dApp only)"
                              },
                              "noOfActiveAddresses": {
                                "type": "integer",
                                "example": 5,
                                "description": "number of active addresses between dateFrom and dateTo"
                              },
                              "dateFrom": {
                                "type": "string",
                                "example": "2022-03-22T00:00:00.000Z",
                                "description": "date from"
                              },
                              "dateTo": {
                                "type": "string",
                                "example": "2022-03-22T23:59:59.999Z",
                                "description": "date to"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2022-03-23T00:00:00.000Z",
                                "description": "Create date of this record"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/connectedWallets/getMonthlyReports": {
      "get": {
        "tags": ["Agent"],
        "summary": "get monthly reports from table t_decats_connected_wallets",
        "operationId": "connectedWalletController.getMonthlyReports",
        "parameters": [
          {
            "in": "query",
            "name": "dateFrom",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "created_date from in YYYY-MM",
            "example": "2021-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "created_date to in YYYY-MM",
            "example": "2021-03"
          },
          {
            "in": "query",
            "name": "connectedTypes",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "connectedTypes should be connectedTypes join by comma (,)   0=dApp,1=agent",
            "example": "0,1"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "connectedType": {
                                "type": "integer",
                                "example": 0,
                                "description": "connected type, 0=dApp,1=agent"
                              },
                              "noOfConnectedWallets": {
                                "type": "integer",
                                "example": 35,
                                "description": "No of connected wallets"
                              },
                              "createdDate": {
                                "type": "string",
                                "example": "2022-03",
                                "description": "Year and month"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/connectedWallets/create": {
      "post": {
        "tags": ["dApp", "agent"],
        "summary": "insert connected wallet address to t_decats_connected_wallets, automatically done for dApp and agent login, but dApp needs to call this api when connect without login",
        "operationId": "connectedWalletController.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "address": "0x8f9092ce573e41d72378cf8c9d3335584e6843f1",
                  "connectedType": 0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": [
                            {
                              "id": "91",
                              "address": "0x8f9092ce573e41d72378cf8c9d3335584e6843f1",
                              "connectedType": 0,
                              "createdDate": "2022-03-23T09:08:33.470Z"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{{dApp}}/commissionDistributions/acquireSuccess": {
      "post": {
        "tags": ["dApp"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "When agent successfully got their distrubution from smart contract, update db record status to acquired",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": 1,
                  "txHash": "yoyoyo",
                  "txDate": "2021-02-02"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Success"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents(dApp)": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["dApp"],
        "summary": "Get data list of agent",
        "operationId": "Agent.getAll",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "118",
                                "address": "0x4b36caf211910509f82df49feb4a6886e66464af",
                                "name": "",
                                "email": "",
                                "parentAgentId": "112",
                                "interestPercentage": "0",
                                "feePercentage": "0",
                                "agentType": 2,
                                "agentLevel": null,
                                "referralCodeId": null,
                                "fundingCodeId": "120",
                                "createdDate": "2022-02-09T03:50:58.939Z",
                                "createdById": "118",
                                "lastModifiedDate": "2022-02-09T03:50:58.939Z",
                                "lastModifiedById": "118",
                                "status": 20,
                                "role": null,
                                "signData": "{\"id\":\"118\",\"address\":\"0x4b36caf211910509f82df49feb4a6886e66464af\"}",
                                "allowViewAgent": false,
                                "parentTree": ["1", "63", "112"]
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getMstToUsdRate": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["dApp"],
        "summary": "Get data list of mst to usd rate",
        "operationId": "AgentController.getMstToUsdRate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "13",
                                "mstPrice": "1000000",
                                "createdDate": "2022-02-09T02:53:20.279Z",
                                "createdById": "1",
                                "lastModifiedDate": "2022-02-09T02:53:20.279Z",
                                "lastModifiedById": "1",
                                "status": 20
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/miningRewards/getRewardByAddress": {
      "security": [
        {
          "ApiKeyAuth": []
        }
      ],
      "tags": ["dApp"],
      "summary": "Get Reward By Address",
      "operationId": "MiningRewardsController.getRewardByAddress",
      "parameters": [
        {
          "in": "query",
          "name": "recordPerPage",
          "schema": {
            "type": "integer"
          },
          "required": true,
          "description": "How many records this API returned",
          "example": 20
        },
        {
          "in": "query",
          "name": "pageNo",
          "schema": {
            "type": "integer"
          },
          "required": true,
          "description": "Page number",
          "example": 0
        },
        {
          "in": "query",
          "name": "token",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "usd",
          "example": 60
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GeneralResponse"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "example": {
                          "count": 1,
                          "rows": [
                            {
                              "id": "19901",
                              "dateFrom": "2022-02-09T07:00:02.000Z",
                              "dateTo": "2022-02-09T07:00:02.000Z",
                              "roundId": "770",
                              "poolToken": "0xcfd7249bffb2b4ba35bd6f7537d916348f15e6b2",
                              "approvedById": null,
                              "approvedDate": null,
                              "createdDate": "2022-02-09T07:00:11.736Z",
                              "lastModifiedDate": "2022-02-09T07:00:11.736Z",
                              "lastModifiedById": null,
                              "status": 0,
                              "exchangeRate": "100000000",
                              "mstExchangeRate": "1000000",
                              "rewardsDetails": [
                                {
                                  "id": "43681",
                                  "jobId": "19901",
                                  "status": 0,
                                  "poolToken": "0xcfd7249bffb2b4ba35bd6f7537d916348f15e6b2",
                                  "address": "0x61fe9f5c807eeaf6e5092e9ff28684e0c81662e9",
                                  "amount": "11529000000000000",
                                  "UsdcAmount": "11529",
                                  "acquiredDate": "1644390000",
                                  "createdDate": "2022-02-09T07:00:02.000Z"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/miningRewards/updateRewardById": {
      "post": {
        "tags": ["dApp"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "{{ipDApp}}/miningRewards/updateRewardById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 120
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Updated affected rows (1)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/miningRewards/getClaimSummary": {
      "get": {
        "tags": ["dApp"],
        "summary": "get Claim Summary",
        "operationId": "MiningRewardsController.getClaimSummary",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          },
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "usd",
            "example": 60
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "poolToken": "BTC",
                            "amount": "21497216000000000000"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },

    "/agents": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Query sub agents by jwt.id/req.agentId",
        "description": "if root agent pass agentId as query params, it will show the sub agents of the agentId, if root agent does not pass agentId as query params, it will show the sub agents of the root agent,if normal agent, it will use jwt.id as agentId",
        "parameters": [
          {
            "name": "recordPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20",
            "required": true
          },
          {
            "name": "pageNo",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0",
            "required": true
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "0x4dfb6d6790054f3eb68324bc230e3104137ca8db",
            "required": false
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "agentname",
            "required": false
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0",
            "description": "StatusPending = 0 | StatusInactive = 10 | StatusActive = 20, Agent status",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "5",
                                "address": "0x51e2dd0d7f8224413d9c1c6aa22582abedf23a39",
                                "name": "test222",
                                "email": "test222@email.com",
                                "parentAgentId": "2",
                                "interestPercentage": "50",
                                "feePercentage": "50",
                                "createdDate": "2021-10-21T10:26:02.974Z",
                                "createdById": "2",
                                "lastModifiedDate": "2021-10-21T10:26:02.974Z",
                                "lastModifiedById": "2",
                                "status": 20,
                                "role": null
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/details/7": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get agent detail by agent_id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "id": "7",
                            "address": "0x954d4e02b9ae87e1f67e9a7f268cda42cf03e758",
                            "name": "ca_account16",
                            "password": "0xc888c9ce9e098d5864d3ded6ebcc140a12142263bace3a23a36f9905f12bd64a",
                            "email": "ca_account16@18m.dev",
                            "parentAgentId": "1",
                            "interestPercentage": "80",
                            "feePercentage": "80",
                            "createdDate": "2021-10-26T10:39:13.083Z",
                            "createdById": "1",
                            "lastModifiedDate": "2021-10-26T10:39:13.083Z",
                            "lastModifiedById": "1",
                            "status": 20,
                            "role": null
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getSubAgent": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "get sub agent by jwt.id/agentId",
        "parameters": [
          {
            "name": "recordPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20",
            "required": true
          },
          {
            "name": "pageNo",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "5",
                                "address": "0x51e2dd0d7f8224413d9c1c6aa22582abedf23a39",
                                "name": "test222",
                                "email": "test222@email.com",
                                "parentAgentId": "2",
                                "interestPercentage": "50",
                                "feePercentage": "50",
                                "createdDate": "2021-10-21T10:26:02.974Z",
                                "createdById": "2",
                                "lastModifiedDate": "2021-10-21T10:26:02.974Z",
                                "lastModifiedById": "2",
                                "status": 20,
                                "role": null
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getNoOfNodes": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get no. of customers or agents belongs to the jwt.id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "agents": "1",
                            "customers": "0"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/create": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Create agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8d2",
                  "name": "ab21c",
                  "email": "new_user1@gmail.com",
                  "password": "123",
                  "interestPercentage": "70",
                  "feePercentage": "70"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "New agent is created. New record id :(8)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "info"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/update": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "{{ipAgent}}/agents/updateFundingCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 10,
                  "address": "0x4dfb6d6790054f3eb68324bc230e3104137ca8x0",
                  "name": "cf_test003",
                  "email": "cf_test003@gmail.com",
                  "totalCredit": 13,
                  "interestPercentage": 5,
                  "feePercentage": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Updated affected rows (1)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/updateSelf": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Update agent email and name (Self)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "eu11_test111",
                  "email": "eu11@18m.dev"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Updated affected rows (1)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/updateSelfPassword": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Update agent password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "currentPassword": "aa",
                  "newPassword": "bb"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string",
                          "example": "Updated affected rows (1)"
                        },
                        "respType": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/changeRole": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Used when root agent wants to view in sub agent perspective, it will return the token of req.body.agentId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "agnetId": 2
                }
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbklkIjoiMSIsImlkIjoiMiIsIm5hbWUiOiIyIiwidHlwZSI6IkFnZW50Iiwic3RhdHVzIjoyMCwicGFyZW50QWdlbnRJZCI6IjEiLCJhZGRyZXNzIjoiMHgyMjc0NjBkNDA2ZjA5MzdlY2Q5ODJiMjBjZmZmNWE5MmU3ZmM0YzJiIiwiaWF0IjoxNjM1NDk1MzQ3LCJleHAiOjE2MzU1MDk3NDd9.d8NnfZGAuSR7eAGEkjFg5VqLSr5x5onQgiS_uBS2Mw4",
                            "loginId": "1",
                            "id": "2"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/login": {
      "post": {
        "tags": ["Agent"],
        "summary": "Agent login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "signature": "0x6b394596918c5a94800c8cfe0cd12070b1a5c79e0cf523337a3b9fd69e7b81c9062cbde60ff66eb631ce1b7edbbfdb393138cf6259520a037a8120f43701b0ab1c",
                  "message": "deviceId=&timestamp=1630311347619&walletAddress=4dfb6d6790054f3eb68324bc230e3104137ca8db",
                  "email": "test@email.com",
                  "password": "12345"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbklkIjoiMSIsImlkIjoiMiIsIm5hbWUiOiIyIiwidHlwZSI6IkFnZW50Iiwic3RhdHVzIjoyMCwicGFyZW50QWdlbnRJZCI6IjEiLCJhZGRyZXNzIjoiMHgyMjc0NjBkNDA2ZjA5MzdlY2Q5ODJiMjBjZmZmNWE5MmU3ZmM0YzJiIiwiaWF0IjoxNjM1NDk1MzQ3LCJleHAiOjE2MzU1MDk3NDd9.d8NnfZGAuSR7eAGEkjFg5VqLSr5x5onQgiS_uBS2Mw4",
                            "loginId": "1",
                            "id": "2"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/login(without signature)": {
      "post": {
        "tags": ["Agent"],
        "summary": "Agent login(without signature)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "test@email.com",
                  "password": "12345"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpbklkIjoiOTciLCJpZCI6Ijk3IiwibmFtZSI6ImV1MTFfdGVzdDMiLCJ0eXBlIjoiQWdlbnQiLCJzdGF0dXMiOjIwLCJwYXJlbnRBZ2VudElkIjoiOTYiLCJyb2xlIjpudWxsLCJhZGRyZXNzIjoiMHg1ZTE3ZWVlMWUzYjI0ZTEyMzJkZjFkNjI1N2JkNzc0NTFmMTY5YzM1IiwiYWdlbnRUeXBlIjoyLCJhbGxvd1ZpZXdBZ2VudCI6ZmFsc2UsImlzUmVhZE9ubHkiOnRydWUsImlhdCI6MTY0NDI5MTQ1NSwiZXhwIjoxNjQ0MzA1ODU1fQ.pf3gmXam7RxMonyff-cqLvN2YMWbd5plPsv-ec5Spz8",
                            "loginId": "97",
                            "id": "97"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/genReferralCode": {
      "post": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Agent generate referral code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "interestPercentage": 0,
                  "feePercentage": 80,
                  "agentName": "",
                  "expiryDate": "2021-11-01",
                  "type": "0",
                  "agentType": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "data": "eyJleHAiOjE2MzczNzQxNDV9.kAVcxkr5sl-JDZyzalNYlGxDTDPdBKsJeh5KzfAvCAo"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/getAllReferralCode": {
      "get": {
        "tags": ["Agent"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Agent list all referral code generated by agent id",
        "operationId": "AgentController.getAllReferralCode",
        "parameters": [
          {
            "in": "query",
            "name": "recordPerPage",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "How many records this API returned",
            "example": 20
          },
          {
            "in": "query",
            "name": "pageNo",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Page number",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GeneralResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": {
                            "count": 1,
                            "rows": [
                              {
                                "id": "1",
                                "referralCode": "eyJleHAiOjE2MzczNzQxNDV9.kAVcxkr5sl-JDZyzalNYlGxDTDPdBKsJeh5KzfAvCAo",
                                "type": 0,
                                "agentId": "1",
                                "agentName": "",
                                "hashString": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
                                "feePercentage": "80",
                                "interestPercentage": "80",
                                "isUsed": false,
                                "codeStatus": 1,
                                "agentType": 1,
                                "expiryDate": "2021-11-01",
                                "createdDate": "2021-11-10T02:09:05.670Z",
                                "createdById": "1",
                                "lastModifiedDate": "2021-11-10T02:09:05.670Z",
                                "lastModifiedById": "1",
                                "status": 20,
                                "agent.address": "0xabaf0503d06ac5d222653f3294a134db3ca98e29"
                              }
                            ]
                          }
                        }
[...]
