$lightgrey: rgb(255, 255, 255, 0.5);
$darkgrey: #252b36;
$deepgrey: #42454a;
$green: #00b4c9;
$lightgreen: #02c77a;
$red: #ef6a59;
$pink: #df9a9a;
$white: white;
$yellow: #ebc041;
$black: #121622;
$pureblack: #121212;
$blue: #61bcf4;
$lightblue: #00b4c9;
$grey: rgb(255, 255, 255, 0.5);
$level2grey: #5d6676;
$level3grey: rgb(255, 255, 255, 0.2);
$bordergrey: #393f4f;
$deepbluegrey: #373f50;
$gradientblue: rgba(79, 127, 228);
$gradientgreen: rgb(96, 186, 177);
$gradientblack: rgba(32, 35, 45);
$gradientgrey: rgb(57, 63, 79);
$borderRadius: 5px;
$font1: 8px;
$font2: 10px;
$font3: 12px;
$font4: 14px;
$font5: 16px;
$font6: 20px;
$font7: 24px;
$font8: 28px;
$font10: 30px;
$font12: 32px;
$font14: 34px;
$font16: 36px;
$font18: 38px;
$font20: 40px;
$font22: 42px;
$font26: 44px;
$font28: 46px;
$font30: 48px;
$font32: 50px;
$font34: 52px;
$font36: 54px;
$font40: 55px;

// background: $gradientgreen;
// background: linear-gradient(90deg, $gradientgreen 0%, $gradientblue 100%);
