@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
