.ticket {
  display: flex;
  width: 1350px;
}
.myTickets {
  background-color: #f7f7f7;
  padding: 30px 40px 0px 30px;
  width: 23%;
}
.chat {
  width: 49%;
  height: 100vh;
}
.chat_details {
  position: relative;
  width: 28%;
  background: #f7f7f7;
}
